@page "/Production/{ID}"
@inherits ProductionPageBase

@using JVDataAccess
@using JVDataAccess.Models

@inject IActorData _db



<div class="row">
    <div class="col">
        @if (Productions is null)
        {
            <h3>Laddar</h3>
        }
        else
        {

            @if (Productions.Count == 0)
            {
                <h3>Fel input. Sluta skriv in manuella siffror i adressfältet =D</h3>
            }
            else
            {
                <h2>@Productions[0].Namn.ToUpper() (@Productions[0].FirstDate.Year)</h2>
                <br />


                @if (Productions is null)
                {

                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Premiär</th>
                                <th>Scen</th>
                                <th>Antal föreställningar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Productions)
                            {
                                <tr>
                                    <td>@item.LongDateStringSwedish</td>
                                    <td>@item.Stage, @item.City</td>
                                    <td>@item.NumberOfShowsString</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            <br />
            @if (CreativeTeam is null)
            {

            }
            else
            {
                @if (CreativeTeam.Count > 0)
                {
                    <h2>Kreativa Teamet:</h2>
                    @foreach (var item in CreativeTeam)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                @item.CharacterName
                            </div>
                            <div class="col-md-6">
                                <a href="@($"People/{item.ActorID}")"><b>@item.ActorName.ToUpper()</b></a>
                            </div>
                        </div>
                    }

                }

            }

            @if (Cast is null)
            {
            }
            else
            {
                <h2 class="mt-3 ml-6">I rollerna:</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Karaktär</th>
                            <th>Spelad av</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Cast)
                        {
                            <tr>
                                <td>@item.CharacterName</td>
                                <td><a href="@($"People/{item.ActorID}")"><b>@item.ActorName.ToUpper()</b></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

        <div class="m-4">
            @if (Tracks is null)
            {

            }
            else
            {
                @if (Tracks.Count != 0)
                {
                    <h2>Låtlista</h2>
                    <table class="table my-0 py-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sång</th>
                                <th>Karaktär:</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Tracks)
                            {
                                <tr>
                                    <td>@(item.SongOrder). </td>
                                    <td><b>@item.SongName</b></td>
                                    <td><i>@item.DisplayRole</i></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
    
    <div class="col-4">
        @if (ImageModel != null)
        {
            <img class="border-dark-3 rounded img-fluid largeartwork" src="@ImageModel.ImageURL" />
        }
    </div>
</div>





