@using JVDataAccess.Models
@using JVDataAccess

@inject IProductionData _db

@if (randomProd != null)
{
    <div class="text-center">
        <h4>En slumpad produktion:</h4>
            <a href="@($"Production/{randomProd.ProductionID}")">
                <img class="border-dark-3 rounded img-fluid smallimage imgHover" src="@randomProd.PictureURL" />
            </a>

        <h5 class="randomwordwrap"><a href="@($"Production/{randomProd.ProductionID}")">@randomProd.Namn (@randomProd.FirstDate.Year)</a></h5>
        <h6>@randomProd.DatePeriod</h6>
        <h6>@randomProd.Stage, @randomProd.City</h6>
    </div>
}





@code {
    [Parameter]
    public ProductionModel randomProd { get; set; }
}
