@page "/People/{ID}/{ID2}"
@inherits TwoActorsPageBase

@using JVDataAccess
@using JVDataAccess.Models

@if (showAppearances is null && Actor1 is null && Actor2 is null)
{
    <h3>Hittar ingenting.</h3>
}
else
{
    @if (Actor1.ActorID == Actor2.ActorID)
    {
        <h5>Sluta skriv in egna länkar! ;) :D</h5>
    }
    else
    {
        <h5><a href="@($"People/{Actor1.ActorID}")">@Actor1.FullName</a> och <a href="@($"People/{Actor2.ActorID}")">@Actor2.FullName</a></h5>
        <h6>@Actor1.FirstName och @Actor2.FirstName har spelat @CountShows() föreställningar ihop.</h6>

        <div class="row">
            @for (int i = 0; i < showAppearances.Count; i++)
            {
                if (i != 0)
                {
                    @if (showAppearances[i].ProductionID == showAppearances[i - 1].ProductionID)
                    {
                        continue;
                    }
                }

                <div class="col-2 col-sm-8 text-center border-dark border-1 randomwordwrap">
                    <a href="@($"Production/{showAppearances[i].ProductionID}")">
                        @if (i == 0)
                        {
                            <img class="border-dark-3 rounded img-fluid smallimage imgHover" src="@imageURLs[i]" />
                        }
                        else
                        {
                            <img class="border-dark-3 rounded img-fluid smallimage imgHover" src="@imageURLs[i / 2]" />
                        }
                    </a>
                    <h5>
                        <a href="@($"Production/{showAppearances[i].ProductionID}")"><b>@showAppearances[i].ShowName (@showAppearances[i].StartDate.Year)</b></a> <br />
                    </h5>
                    <h6>
                        @showAppearances[i].Stage, @showAppearances[i].City
                        <br /><br />
                        @if (showAppearances[i].FullName == Actor1.FullName)
                        {
                            <b>@showAppearances[i].Character.ToUpper()</b><br />
                            @Actor1.FullName
                            <br /><br />

                            <b>@showAppearances[i + 1].Character.ToUpper()</b><br />
                            @Actor2.FullName
                        }
                        else
                        {
                            <b>@showAppearances[i + 1].Character.ToUpper()</b><br />
                            @Actor1.FullName
                            <br /><br />

                            <b>@showAppearances[i].Character.ToUpper()</b><br />
                            @Actor2.FullName
                        }

                    </h6>

                </div>
            }
        </div>


    }
}
